*{
  flex-wrap: wrap;
}
.lk{
  font-size: 40px;
  color: white;
  line-height: 200px;
  margin: 20px;
}


.navbar{
  font-style: oblique;
  font-size: large;
  font-family: monospace;
}



.custom-class {
    display: none;
  }
  /* @media-breakpoint-up(sm) {
    .custom-class {
      display: block; */
    
  .hd{
    text-align: center;
  }
  .crd{
    /* margin: 0px 250px 0px 250px; */
    background-color: rgb(192, 230, 23);
    color: white;
  }
  .crd2{
    /* margin: 0px 250px 0px 250px; */
    background-color: rgb(118, 173, 171);
    color: white;
  }
  .logoplus{
    margin: 25px 5px 5px 25px;
    background-color: rgb(238, 200, 143);
  }
  .pic{
    height: 200px;
  }

  .lnk {
    color: #ffff;
    display: inline-block;
    border: none;
    font-size: 25px;
    padding-inline: 20px;
  }
  .inp{
    padding-left: 25px;
    margin-left: 470px;
    width: 25%;
    height: 50px;
    border-radius: 8px;
  }
  #btn{
    font-weight: bold;
  }
  .co{
    text-align: center;

  }